@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* content box: ancho especificado + padding + border
                    200px               15 px     1px

border box: ancho especificado (200) = contenido + padding + border - Es automático

*/

/* id class tag */

.padre .title-one {
    color: rgb(238, 238, 238);
    font-size: 60px;  
    font-weight: 700; 
    text-transform: capitalize; 
}

.padre .title-one:hover {
    color: rgb(212, 246, 255);
    font-size: 60px;  
    font-weight: 700; 
    text-transform: capitalize; 

}

    header{
        background: rgb(116, 138, 130)
    }

    header .navBar {
        max-width: 1200px;
        margin: 0 auto;
        width: 100%;
    }

    header .navBar .navBarNav {
       display: inline-block; 
    }

    header .navBar .navBarNav .navBarItem {
        display: inline-block; 
     }

     header .navBar .navBarNav .navBarItem .navBarLink {
        text-decoration: none;
     }

